/* Global Tag settings*/
a:link {
    color: black;
    text-decoration: none;
}

a:visited,
a:active {
    color: black;
}

a:hover {
    color: black;
    text-decoration: underline;
}

select>option:hover {
    color: #1B517E;
    cursor: pointer;
}

/* Header */

/* top header */
.header {
    width: 100%;
}

.top_header {
    width: 100%;
    height: 27px;
    font-size: 13px;
    font-weight: 400;
    font-family: sans-serif;
    display: inline-block;
    padding: 5px 0;
    background-color: RGB(245, 245, 245);
}

.top_header_container {
    margin-right: 10vw;
    margin-left: 10vw;
    padding-left: 15px;
    padding-right: 15px;
    color: black;
    display: flex;
    justify-content: space-between;
}

.header_container_left_side {
    display: inline-flex;
}

#languages {
    background-color: RGB(245, 245, 245);
    border: 0px;
    outline: 0px;
    scroll-behavior: smooth;
    float: left;
    padding: 5px 0;
    margin-right: 10px;
}

#languages:hover {
    font-weight: bold;
}

#currency {
    background-color: RGB(245, 245, 245);
    border: 0px;
    outline: 0px;
    scroll-behavior: smooth;
    float: left;
    padding: 5px 0;
    margin-right: 10px;
}

#currency:hover {
    font-weight: bold;
}

.phones_header {
    height: 27px;
    display: inline-block;
    margin-right: 10px;
}

.phones_header>p {
    margin: 0;
    display: flex;
    align-items: center;
}

.callback_round img {
    width: 23px;
    height: 23px;
    margin-right: 7px;
}

.buy_on_click_header {
    margin: 0 15px 0 0;
    display: inline-flex;
    align-items: center;
}

.header_container_right_side {
    display: inline-flex;
}

.main_menu {
    display: inline-flex;
}

.main_menu ul {
    display: flex;
    align-items: center;
    float: right;
    margin: auto;
    list-style-type: none;
}

.menu_item {
    margin-right: 20px;
}

/* middle header */
.middle_header {
    height: 91px;
    width: 100%;
}

.middle_header_container {
    margin-right: 10vw;
    margin-left: 10vw;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
}

.midhead_container_row {
    display: flex;
    align-items: center;
    height: 51px;
}

.logo {
    width: 210px;
    height: 51px;
    display: flex;
    align-items: center;
}

.logo a {
    width: auto;
    height: 51px;
    display: contents;
}

.logo img {
    width: auto;
    height: 33px;
}

.search_site {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main_search_form {
    width: 100%;
    margin: 0 20px 0 60px;
}

.form_search_site {
    width: 100%;
    position: relative;
}

#search {
    width: 91.3%;
    height: 35px;
    padding: 0 12px;
    border: 2px solid RGB(245, 245, 245);
    color: #777;
    font-size: 14px;
    /* -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    outline: none !important;
    border-radius: 7px; */
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

#search:hover {
    border-color: RGB(249, 228, 66);
}

#search_form_button {
    position: absolute;
    top: 0;
    right: 0;
    background: RGB(245, 245, 245);
    width: 80px;
    height: 100%;
    padding: 0;
    border: none !important;
    outline: none !important;
    color: #fff;
    font-size: 18px;
    border-radius: 0 7px 7px 0;
}

#search_form_button:hover {
    background-color: RGB(249, 228, 66);
    color: white;
}

#search_form_button img {
    fill: #777;
    width: 1.1em;
    height: 1.1em;
}

.divShoppingCard {
    width: 35%;
    height: 35px;
}

.shopping_card {
    display: inline-flex;
    border: 2px solid RGB(249, 228, 66);
    border-radius: 7px;
    width: 80%;
    text-align: center;
    height: 31px;
    align-items: center;
    justify-content: center;
    float: right;
}

.summ_basket {
    font-size: 14px;
}

.shopping_card img {
    /* display: inline-block; */
    width: 1em;
    height: 1em;
    font-size: 19px;
    margin: 10px;
}


.navbar {
    height: 51px;
    font-size: 14px;
    font-weight: 500;
}


.block_categories {
    display: inline-flex;
}

.block_categories ul {
    /* display: flex; */
    align-items: center;
    /* float: right; */
    /* margin: auto; */
    list-style-type: none;
}

/* .block_categories li {
    margin-right: 10px;
} */

.navbar {
    background-color: black;
}

.navbar_container {
    margin-right: 10.8vw;
    margin-left: 10.8vw;
    height: 51px;
}


.nav_list {
    display: table-row;
    padding: 0;
    height: 51px;
    margin: 0;
}

/* .block_categories {
    height: 51px;
} */
/* 
.block_categories ul{
    margin: auto;
} */

.nav_list li {
    display: table-cell;
    /* vertical-align: middle; */
    /* padding: 0; */
    border-left: 2px solid rgba(255, 255, 255, .2);
    height: 100%;
}

.nav_list li:last-of-type {
    border-right: 2px solid rgba(255, 255, 255, .2);
}

.nav_list a {
    color: white;
    display: table-cell;
    text-align: center;
    width: 10vw;
    height: 51px;
    vertical-align: middle;
}

.nav_list a:hover {
    background-color: RGB(249, 228, 66);
    color: black;
}

.nav_list a:link {
    color: black;
    text-decoration: none;
}

/* Main content */
.main_content {
    margin: 30px 0 30px 0;
    width: 100%;
}
/* Center content */
.right_content {
    width: 81%;
    margin-right: 10vw;
    padding-right: 15px;
}

/* Left side bar */
.left_side_bar {
    /* background-color: #777; */
    width: 19%;
    position: relative;
    margin-left: 10vw;
    padding-left: 15px;
}

.category_box {
    /* border: 2px solid RGB(245, 245, 245);
    border-radius: 7px; */
    font-size: 12px;
}

.category_box ul {
    padding: 0;
    margin: 0;
    background-color: white;
}

.category_box li:first-child {
    border: 2px solid RGB(245, 245, 245);
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.category_box li {
    background-color:  RGB(245, 245, 245);
    list-style-type: none;
    margin: 0;
    height: 35px;
    margin-bottom: 3px;
}

.category_box li:last-child {
    border: 2px solid RGB(245, 245, 245);
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.category_box li:hover {
    background-color: RGB(249, 228, 66);
    color: black;
}

.category_box a:link {
    color: black;
    text-decoration: none;
}

